# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\360安全云盘同步版\functionProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
